{% extends "base.html" %}

{% block content %}
<div class="topnav">
  <a href="https://ecotourism.glitch.me/">Главная</a>
  <a href="https://ecotourism.glitch.me/nature_reserves">Заповедники</a>
  <a class="active" href="https://ecotourism.glitch.me/animals">Животные</a>
  <a href="https://ecotourism.glitch.me/question">Задать вопрос</a>
</div>
<div>
  <form class="login_form_1">
    <h1>Здесь можно узнать о животных занесенных в Красную Книгу России и где их можно увидеть.</h1>
  </form>
</div>
<div class="topnav">
  <a href="https://ecotourism.glitch.me/insectivores">Насекомоядные</a>
  <a href="https://ecotourism.glitch.me/bats">Рукокрылые</a>
  <a href="https://ecotourism.glitch.me/rodents">Грызуны</a>
  <a href="https://ecotourism.glitch.me/predatory">Хищные</a>
  <a href="https://ecotourism.glitch.me/ungulates">Непарнокопытные</a>
  <a href="https://ecotourism.glitch.me/ruminants">Жвачные</a>
  <a href="https://ecotourism.glitch.me/cetaceans">Китообразные</a>
</div>
<div>
  <form class="login_form_1">
    <h4>Красная книга Российской Федерации - это государственный документ, в
      котором содержится информация о редких и находящихся под угрозой исчезновения видов животных, растений и грибов.</h4>
    <h1></h1>
    <h4>Она была создана с целью сохранения биологического разнообразия и охраны природных ресурсов страны.</h4>
    <h1></h1>
    <h4>В Красную книгу РФ занесены различные виды животных, которые подвергаются угрозе исчезновения из-за разрушения
      их естественной среды обитания, незаконного охотничьего промысла, загрязнения окружающей среды и других причин.</h4>
    <h1></h1>
    <h4>Красная книга РФ разделена на несколько категорий, в зависимости от степени угрозы исчезновения вида:</h4>
    <ul>
      <li>Исчезающие</li>
      <li>Находящиеся под угрозой исчезновения</li>
      <li>Редкие</li>
      <li>Сокращающиеся в численности</li>
      <li>Неопределенного статуса</li>
    </ul>
    <h1></h1>
    <h4>Красная книга РФ выполняет важную функцию в охране природы, она является основой для разработки и
      реализации мер по сохранению и восстановлению популяций редких и исчезающих видов животных.</h4>
  </form>
</div>
{% endblock %}