{% extends "base.html" %}

{% block content %}
<div class="topnav">
  <a href="https://ecotourism.glitch.me/">Главная</a>
  <a href="https://ecotourism.glitch.me/nature_reserves">Заповедники</a>
  <a class="active" href="https://ecotourism.glitch.me/animals">Животные</a>
  <a href="https://ecotourism.glitch.me/question">Задать вопрос</a>
</div>
<div class="topnav">
  <a href="https://ecotourism.glitch.me/insectivores">Насекомоядные</a>
  <a class="active" href="https://ecotourism.glitch.me/bats">Рукокрылые</a>
  <a href="https://ecotourism.glitch.me/rodents">Грызуны</a>
  <a href="https://ecotourism.glitch.me/predatory">Хищные</a>
  <a href="https://ecotourism.glitch.me/ungulates">Непарнокопытные</a>
  <a href="https://ecotourism.glitch.me/ruminants">Жвачные</a>
  <a href="https://ecotourism.glitch.me/cetaceans">Китообразные</a>
</div>
<div style="float: right;">
    <form class="login_form_5">
        <nav>
            <h1>Рукокрылые</h1>
            <ul>
                <li><a href="#section1">Подковонос Мегели</a></li>
                <li><a href="#section2">Южный подковонос</a></li>
                <li><a href="#section3">Малый подковонос</a></li>
                <li><a href="#section4">Большой подковонос</a></li>
                <li><a href="#section5">Обыкновенный длиннокрыл</a></li>
                <li><a href="#section6">Восточный длиннокрыл</a></li>
                <li><a href="#section7">Остроухая ночница</a></li>
                <li><a href="#section8">Трёхцветная ночница</a></li>
                <li><a href="#section9">Европейская широкоушка</a></li>
            </ul>
        </nav>
        <h1></h1>
        <h1 id="section1">Подковонос Мегели</h1>
        <h4>Можно найти в:</h4>
        <ul>
            <li>Дагестане</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Подковонос_Мегели" class="nubex1">Подковонос Мегели</a>
        <h1></h1>
        <h1 id="section2">Южный подковонос</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>На юге Краснодарского края</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Южный_подковонос" class="nubex1">Южный подковонос</a>
        <h1></h1>
        <h1 id="section3">Малый подковонос</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Предкавказье</li>
            <li>На Северном Кавказе</li>
            <li>В Краснодарском крае</li>
            <li>В Дагестане</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Малый_подковонос" class="nubex1">Малый подковонос</a>
        <h1></h1>
        <h1 id="section4">Большой подковонос</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Крыму</li>
            <li>В Краснодарском крае</li>
            <li>В Ставропольском крае</li>
            <li>В республике Адыгея</li>
            <li>В республике Карачаево-Черкесия</li>
            <li>В республике Кабардино-Балкария</li>
            <li>В республике Северная Осетия</li>
            <li>В республике Ингушетия</li>
            <li>В республике Чеченская</li>
            <li>В республике Дагестане</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Большой_подковонос" class="nubex1">Большой подковонос</a>
        <h1></h1>
        <h1 id="section5">Обыкновенный длиннокрыл</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Крыму</li>
            <li>На Западном Кавказе</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Обыкновенный_длиннокрыл" class="nubex1">Обыкновенный длиннокрыл</a>
        <h1></h1>
        <h1 id="section6">Восточный длиннокрыл</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>На юге Приморского края</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ecoportal.info/vostochnyj-dlinnokryl/" class="nubex1">Восточный длиннокрыл</a>
        <h1></h1>
        <h1 id="section7">Остроухая ночница</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>По всему Северному Кавказу</li>
            <li>По всему Предкавказью</li>
            <li>В Краснодарском крае</li>
            <li>В Дагестане</li>
            <li>На Алтае</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Остроухая_ночница" class="nubex1">Остроухая ночница</a>
        <h1></h1>
        <h1 id="section8">Трёхцветная ночница</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Крыму</li>
            <li>На Кавказе</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Трёхцветная_ночница" class="nubex1">Трёхцветная ночница</a>
        <h1></h1>
        <h1 id="section9">Европейская широкоушка</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Крыму</li>
            <li>В Краснодарском крае</li>
            <li>В Ставропольском крае</li>
            <li>В республике Адыгея</li>
            <li>В республике Карачаево-Черкесия</li>
            <li>В республике Кабардино-Балкария</li>
            <li>В республике Северная Осетия</li>
            <li>В республике Ингушетия</li>
            <li>В республике Чеченская</li>
            <li>В республике Дагестане</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Европейская_широкоушка" class="nubex1">Европейская широкоушка</a>
    </form>
</div>
<img style="float: left;" src="static/img/animals/2.png" />
<img style="float: left;" src="static/img/animals/3.png" />
<img style="float: left;" src="static/img/animals/4.png" />
<img style="float: left;" src="static/img/animals/5.png" />
<img style="float: left;" src="static/img/animals/6.png" />
<img style="float: left;" src="static/img/animals/7.png" />
<img style="float: left;" src="static/img/animals/8.png" />
<img style="float: left;" src="static/img/animals/9.png" />
<img style="float: left;" src="static/img/animals/10.png" />
{% endblock %}