{% extends "base.html" %}

{% block content %}
<div class="topnav">
  <a href="https://ecotourism.glitch.me/">Главная</a>
  <a href="https://ecotourism.glitch.me/nature_reserves">Заповедники</a>
  <a class="active" href="https://ecotourism.glitch.me/animals">Животные</a>
  <a href="https://ecotourism.glitch.me/question">Задать вопрос</a>
</div>
<div class="topnav">
  <a href="https://ecotourism.glitch.me/insectivores">Насекомоядные</a>
  <a href="https://ecotourism.glitch.me/bats">Рукокрылые</a>
  <a href="https://ecotourism.glitch.me/rodents">Грызуны</a>
  <a href="https://ecotourism.glitch.me/predatory">Хищные</a>
  <a href="https://ecotourism.glitch.me/ungulates">Непарнокопытные</a>
  <a href="https://ecotourism.glitch.me/ruminants">Жвачные</a>
  <a class="active" href="https://ecotourism.glitch.me/cetaceans">Китообразные</a>
</div>
<div style="float: right;">
    <form class="login_form_5">
        <nav>
            <h1>Китообразные</h1>
            <ul>
                <li><a href="#section1">Атлантический белобокий дельфин</a></li>
                <li><a href="#section2">Беломордый дельфин</a></li>
                <li><a href="#section3">Черноморская афалина</a></li>
                <li><a href="#section4">Серый дельфин</a></li>
                <li><a href="#section5">Морская свинья</a></li>
                <li><a href="#section6">Малая косатка</a></li>
                <li><a href="#section7">Косатка</a></li>
                <li><a href="#section8">Нарвал</a></li>
                <li><a href="#section9">Высоколобый бутылконос</a></li>
                <li><a href="#section10">Клюворыл</a></li>
                 <li><a href="#section11">Командорский ремнезуб</a></li>
                <li><a href="#section12">Серый кит</a></li>
                <li><a href="#section13">Гренландский кит</a></li>
                <li><a href="#section14">Японский гладкий кит</a></li>
                <li><a href="#section15">Горбач</a></li>
                <li><a href="#section16">Северный синий кит</a></li>
                <li><a href="#section17">Северный финвал</a></li>
                <li><a href="#section18">Сейвал</a></li>
            </ul>
        </nav>
        <h1></h1>
        <h1 id="section1">Атлантический белобокий дельфин</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В северной части Атлантического океана</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Атлантический_белобокий_дельфин" class="nubex1">Атлантический белобокий дельфин</a>
        <h1></h1>
        <h1 id="section2">Беломордый дельфин</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Баренцевом море</li>
            <li>В Балтийском море</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Беломордый_дельфин" class="nubex1">Беломордый дельфин</a>
        <h1></h1>
        <h1 id="section3">Афалина</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Балтийском море</li>
            <li>В Черном море</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Афалина" class="nubex1">Афалина</a>
        <h1></h1>
        <h1 id="section4">Серый дельфин</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В районе Курильских островов</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Серый_дельфин" class="nubex1">Серый дельфин</a>
        <h1></h1>
        <h1 id="section5">Морская свинья</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Архангельской области</li>
            <li>В Камчатском крае</li>
            <li>В Мурманской области</li>
            <li>В Краснодарском крае</li>
            <li>В Ненецком автономном округе</li>
            <li>В Республике Карелия</li>
            <li>В Республике Крым</li>
            <li>В Ростовской области</li>
            <li>В Севастополе</li>
            <li>В Хабаровском крае</li>
            <li>В Чукотском автономном округе</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Морская_свинья" class="nubex1">Морская свинья</a>
        <h1></h1>
        <h1 id="section6">Малая косатка</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Красном море</li>
            <li>В Средиземном море</li>
            <li>В Атлантике</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Малая_косатка" class="nubex1">Малая косатка</a>
        <h1></h1>
        <h1 id="section7">Косатка</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>На Камчатке</li>
            <li>На Командорских островах</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Косатка_(млекопитающее)" class="nubex1">Косатка</a>
        <h1></h1>
        <h1 id="section8">Нарвал</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>У Мурманского побережья</li>
            <li>В Белом море</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Нарвал" class="nubex1">Нарвал</a>
        <h1></h1>
        <h1 id="section9">Высоколобый бутылконос</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В восточной части Баренцева моря</li>
            <li>В Белом море</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Высоколобый_бутылконос" class="nubex1">Высоколобый бутылконос</a>
        <h1></h1>
        <h1 id="section10">Клюворыл</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>На Дальнем Востоке</li>
            <li>В Беринговом море</li>
            <li>В Охотском море</li>
            <li>В Японском море</li>
            <li>У берегов Камчатки</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Клюворыл" class="nubex1">Клюворыл</a>
        <h1></h1>
        <h1 id="section11">Командорский ремнезуб</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>На Курильских островах</li>
            <li>На Камчатке</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Командорский_ремнезуб" class="nubex1">Командорский ремнезуб</a>
        <h1></h1>
        <h1 id="section12">Серый кит</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Охотском море</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Серый_кит" class="nubex1">Серый кит</a>
        <h1></h1>
        <h1 id="section13">Гренландский кит</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Охотском море</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Гренландский_кит" class="nubex1">Гренландский кит</a>
        <h1></h1>
        <h1 id="section14">Японский кит</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Охотском море</li>
            <li>В Беринговом море</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Японский_кит" class="nubex1">Японский кит</a>
        <h1></h1>
        <h1 id="section15">Горбатый кит</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Охотском море</li>
            <li>В Чукотском море</li>
            <li>В Японском море</li>
            <li>В Баренцевом море</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Горбатый_кит" class="nubex1">Горбатый кит</a>
        <h1></h1>
        <h1 id="section16">Синий кит</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Чукотском море</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Синий_кит" class="nubex1">Синий кит</a>
        <h1></h1>
        <h1 id="section17">Финвал</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В холодных широтах Арктики</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Финвал" class="nubex1">Финвал</a>
        <h1></h1>
        <h1 id="section18">Сейвал</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>На Курильских грядах</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Сейвал" class="nubex1">Сейвал</a>
    </form>
</div>
<img style="float: left;" src="static/img/animals/53.png" />
<img style="float: left;" src="static/img/animals/54.png" />
<img style="float: left;" src="static/img/animals/55.png" />
<img style="float: left;" src="static/img/animals/56.png" />
<img style="float: left;" src="static/img/animals/57.png" />
<img style="float: left;" src="static/img/animals/58.png" />
<img style="float: left;" src="static/img/animals/59.png" />
<img style="float: left;" src="static/img/animals/60.png" />
<img style="float: left;" src="static/img/animals/61.png" />
<img style="float: left;" src="static/img/animals/62.png" />
<img style="float: left;" src="static/img/animals/63.png" />
<img style="float: left;" src="static/img/animals/64.png" />
<img style="float: left;" src="static/img/animals/65.png" />
<img style="float: left;" src="static/img/animals/66.png" />
<img style="float: left;" src="static/img/animals/67.png" />
<img style="float: left;" src="static/img/animals/68.png" />
<img style="float: left;" src="static/img/animals/69.png" />
<img style="float: left;" src="static/img/animals/70.png" />
{% endblock %}