{% extends "base.html" %}

{% block content %}
<div class="topnav">
  <a href="https://ecotourism.glitch.me/">Главная</a>
  <a href="https://ecotourism.glitch.me/nature_reserves">Заповедники</a>
  <a class="active" href="https://ecotourism.glitch.me/animals">Животные</a>
  <a href="https://ecotourism.glitch.me/question">Задать вопрос</a>
</div>
<div class="topnav">
  <a href="https://ecotourism.glitch.me/insectivores">Насекомоядные</a>
  <a href="https://ecotourism.glitch.me/bats">Рукокрылые</a>
  <a href="https://ecotourism.glitch.me/rodents">Грызуны</a>
  <a class="active" href="https://ecotourism.glitch.me/predatory">Хищные</a>
  <a href="https://ecotourism.glitch.me/ungulates">Непарнокопытные</a>
  <a href="https://ecotourism.glitch.me/ruminants">Жвачные</a>
  <a href="https://ecotourism.glitch.me/cetaceans">Китообразные</a>
</div>
<div class="topnav">
  <a href="https://ecotourism.glitch.me/predatory">Псовые</a>
  <a class="active" href="https://ecotourism.glitch.me/bearish">Медвежьи</a>
  <a href="https://ecotourism.glitch.me/mustelidae">Куньи</a>
  <a href="https://ecotourism.glitch.me/feline">Кошачьи</a>
  <a href="https://ecotourism.glitch.me/hyena">Гиеновые</a>
  <a href="https://ecotourism.glitch.me/pinnipeds">Ластоногие</a>
</div>
<div style="float: right;">
    <form class="login_form_5">
        <nav>
            <h1>Кошачьи</h1>
            <ul>
                <li><a href="#section1">Кавказский лесной кот</a></li>
                <li><a href="#section2">Камышовый кот</a></li>
                <li><a href="#section3">Манул</a></li>
                <li><a href="#section4">Амурский тигр</a></li>
                <li><a href="#section5">Дальневосточный леопард</a></li>
                <li><a href="#section6">Переднеазиатский леопард</a></li>
                <li><a href="#section7">Снежный барс</a></li>
            </ul>
        </nav>
        <h1></h1>
        <h1 id="section1">Кавказский лесной кот</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>На Кавказе</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Кавказский_лесной_кот" class="nubex1">Кавказский лесной кот</a>
        <h1></h1>
        <h1 id="section2">Камышовый кот</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Ставропольском крае</li>
            <li>В Северной Осетии</li>
            <li>В Дагестане</li>
            <li>По побережью Каспийского моря</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Камышовый_кот" class="nubex1">Камышовый кот</a>
        <h1></h1>
        <h1 id="section3">Манул</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>На Алтае</li>
            <li>В  Туве</li>
            <li>В  Бурятии</li>
            <li>В  Красноярском крае</li>
            <li>В  Забайкальском крае</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Манул" class="nubex1">Манул</a>
        <h1></h1>
        <h1 id="section4">Амурский тигр</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Амурской области</li>
            <li>В  Хабаровском крае</li>
            <li>В  Приморском крае</li>
            <li>В  Еврейской автономной области</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Амурский_тигр" class="nubex1">Амурский тигр</a>
        <h1></h1>
        <h1 id="section5">Дальневосточный леопард</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>На юго-западе Приморского края</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Дальневосточный_леопард" class="nubex1">Дальневосточный леопард</a>
        <h1></h1>
        <h1 id="section6">Переднеазиатский леопард</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>На Западном Кавказе</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Переднеазиатский_леопард" class="nubex1">Переднеазиатский леопард</a>
        <h1></h1>
        <h1 id="section7">Ирбис</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Красноярском крае</li>
            <li>В Хакасии</li>
            <li>В Туве</li>
            <li>В Бурятии</li>
            <li>На Алтае</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Ирбис" class="nubex1">Ирбис</a>
    </form>
</div>
<img style="float: left;" src="static/img/animals/26.png" />
<img style="float: left;" src="static/img/animals/27.png" />
<img style="float: left;" src="static/img/animals/28.png" />
<img style="float: left;" src="static/img/animals/29.png" />
<img style="float: left;" src="static/img/animals/30.png" />
<img style="float: left;" src="static/img/animals/31.png" />
<img style="float: left;" src="static/img/animals/32.png" />
{% endblock %}