{% extends "base.html" %}

{% block content %}
<div class="topnav">
  <a href="https://ecotourism.glitch.me/">Главная</a>
  <a href="https://ecotourism.glitch.me/nature_reserves">Заповедники</a>
  <a class="active" href="https://ecotourism.glitch.me/animals">Животные</a>
  <a href="https://ecotourism.glitch.me/question">Задать вопрос</a>
</div>
<div class="topnav">
  <a href="https://ecotourism.glitch.me/insectivores">Насекомоядные</a>
  <a href="https://ecotourism.glitch.me/bats">Рукокрылые</a>
  <a href="https://ecotourism.glitch.me/rodents">Грызуны</a>
  <a class="active" href="https://ecotourism.glitch.me/predatory">Хищные</a>
  <a href="https://ecotourism.glitch.me/ungulates">Непарнокопытные</a>
  <a href="https://ecotourism.glitch.me/ruminants">Жвачные</a>
  <a href="https://ecotourism.glitch.me/cetaceans">Китообразные</a>
</div>
<div class="topnav">
  <a href="https://ecotourism.glitch.me/predatory">Псовые</a>
  <a href="https://ecotourism.glitch.me/bearish">Медвежьи</a>
  <a href="https://ecotourism.glitch.me/mustelidae">Куньи</a>
  <a href="https://ecotourism.glitch.me/feline">Кошачьи</a>
  <a class="active" href="https://ecotourism.glitch.me/hyena">Гиеновые</a>
  <a href="https://ecotourism.glitch.me/pinnipeds">Ластоногие</a>
</div>
<img style="float: left;" src="static/img/animals/33.png" />
<div style="float: right;">
  <form class="login_form_4">
    <h1>Полосатая гиена</h1>
    <h1></h1>
    <h4>Можно найти:</h4>
    <ul>
      <li>В Дагестане</li>
    </ul>
    <h1></h1>
    <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Полосатая_гиена" class="nubex1">Полосатая гиена</a>
  </form>
</div>
{% endblock %}