{% extends "base.html" %}

{% block content %}
<div class="topnav">
  <a href="https://ecotourism.glitch.me/">Главная</a>
  <a href="https://ecotourism.glitch.me/nature_reserves">Заповедники</a>
  <a class="active" href="https://ecotourism.glitch.me/animals">Животные</a>
  <a href="https://ecotourism.glitch.me/question">Задать вопрос</a>
</div>
<div class="topnav">
  <a class="active" href="https://ecotourism.glitch.me/insectivores">Насекомоядные</a>
  <a href="https://ecotourism.glitch.me/bats">Рукокрылые</a>
  <a href="https://ecotourism.glitch.me/rodents">Грызуны</a>
  <a href="https://ecotourism.glitch.me/predatory">Хищные</a>
  <a href="https://ecotourism.glitch.me/ungulates">Непарнокопытные</a>
  <a href="https://ecotourism.glitch.me/ruminants">Жвачные</a>
  <a href="https://ecotourism.glitch.me/cetaceans">Китообразные</a>
</div>

<img style="float: left;" src="static/img/animals/1.png" />
<div style="float: right;">
  <form class="login_form_4">
    <h1>Русская выхухоль</h1>
    <h1></h1>
    <h4>Можно найти в:</h4>
    <ul>
      <li>Смоленской области</li>
      <li>Брянской области</li>
      <li>Курской области</li>
      <li>Воронежской области</li>
      <li>Тамбовской области</li>
      <li>Липецкой области</li>
      <li>Саратовской области</li>
      <li>Пензенской области</li>
      <li>Волгоградской области</li>
      <li>Ярославской области</li>
      <li>Костромской области</li>
      <li>Волгоградской области</li>
      <li>Владимирской области</li>
      <li>Ивановской области</li>
      <li>Рязанской области</li>
      <li>Нижегородской области</li>
      <li>Курганской области</li>
      <li>Томской области</li>
    </ul>
    <h1></h1>
    <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Выхухоль" class="nubex1">Русская выхухоль</a>
  </form>
</div>
{% endblock %}