{% extends "base.html" %}

{% block content %}
<div class="topnav">
  <a class="active" href="https://ecotourism.glitch.me/">Главная</a>
  <a href="https://ecotourism.glitch.me/nature_reserves">Заповедники</a>
  <a href="https://ecotourism.glitch.me/animals">Животные</a>
  <a href="https://ecotourism.glitch.me/question">Задать вопрос</a>
</div>
<div style="float: left;">
    <form class="login_form">
        <h3>Добро пожаловать на сайт, посвященный экотуризму в России!</h3>
        <h4>Мы рады представить вам уникальную возможность познакомиться с природными красотами и богатствами нашей
            страны. Россия - это огромная территория, которая славится своими уникальными природными резерватами,
            национальными парками и заповедниками.</h4>
        <h1></h1>
        <h4>Экотуризм в России предлагает незабываемые путешествия и приключения для всех любителей природы и
            активного образа жизни.</h4>
    </form>
</div>
<img style="float: right;" alt="" src="static/img/2.png">
<img style="float: left;" alt="" src="static/img/3.png">
<div style="float: right;">
    <form class="login_form">
        <h4>В России существует множество национальных парков и заповедников, которые предлагают
            уникальные возможности для путешествий и исследований. Туристы могут посещать эти места и наслаждаться
            прекрасными видами, редкими видами животных и птиц.</h4>
        <h1></h1>
        <h4>На нашем сайте вы найдете подробную информацию о самых интересных местах для экотуризма в России,
            исследуете дикую природу, встретитесь с редкими животными,
            понаблюдаете за птицами и насладитесь красотой лесов, рек и гор.</h4>
    </form>
</div>
{% endblock %}