{% extends "base.html" %}

{% block content %}
<div class="topnav">
  <a href="https://ecotourism.glitch.me/">Главная</a>
  <a href="https://ecotourism.glitch.me/nature_reserves">Заповедники</a>
  <a class="active" href="https://ecotourism.glitch.me/animals">Животные</a>
  <a href="https://ecotourism.glitch.me/question">Задать вопрос</a>
</div>
<div class="topnav">
  <a href="https://ecotourism.glitch.me/insectivores">Насекомоядные</a>
  <a href="https://ecotourism.glitch.me/bats">Рукокрылые</a>
  <a href="https://ecotourism.glitch.me/rodents">Грызуны</a>
  <a class="active" href="https://ecotourism.glitch.me/predatory">Хищные</a>
  <a href="https://ecotourism.glitch.me/ungulates">Непарнокопытные</a>
  <a href="https://ecotourism.glitch.me/ruminants">Жвачные</a>
  <a href="https://ecotourism.glitch.me/cetaceans">Китообразные</a>
</div>
<div class="topnav">
  <a href="https://ecotourism.glitch.me/predatory">Псовые</a>
  <a href="https://ecotourism.glitch.me/bearish">Медвежьи</a>
  <a class="active" href="https://ecotourism.glitch.me/mustelidae">Куньи</a>
  <a href="https://ecotourism.glitch.me/feline">Кошачьи</a>
  <a href="https://ecotourism.glitch.me/hyena">Гиеновые</a>
  <a href="https://ecotourism.glitch.me/pinnipeds">Ластоногие</a>
</div>
<div style="float: right;">
    <form class="login_form_5">
        <nav>
            <h1>Куньи</h1>
            <ul>
                <li><a href="#section1">Кавказская европейская норка</a></li>
                <li><a href="#section2">Перевязка</a></li>
                <li><a href="#section3">Выдра</a></li>
                <li><a href="#section4">Калан</a></li>
            </ul>
        </nav>
        <h1></h1>
        <h1 id="section1">Кавказская европейская норка</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Нижнем Поволжье</li>
            <li>В Нижнем Подонье</li>
            <li>На Кавказе</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Кавказская_европейская_норка" class="nubex1">Кавказская европейская норка</a>
        <h1></h1>
        <h1 id="section2">Перевязка</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>На Северном Кавказе</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Перевязка" class="nubex1">Перевязка</a>
        <h1></h1>
        <h1 id="section3">Выдра</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>На Чукотке</li>
            <li>В  Магаданской области</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Выдра" class="nubex1">Выдра</a>
        <h1></h1>
        <h1 id="section4">Калан</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>На Курильских островах</li>
            <li>На  Командорских островах</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Калан" class="nubex1">Калан</a>
    </form>
</div>
<img style="float: left;" src="static/img/animals/22.png" />
<img style="float: left;" src="static/img/animals/23.png" />
<img style="float: left;" src="static/img/animals/24.png" />
<img style="float: left;" src="static/img/animals/25.png" />
{% endblock %}