{% extends "base.html" %}

{% block content %}
<div class="topnav">
  <a href="https://ecotourism.glitch.me/">Главная</a>
  <a href="https://ecotourism.glitch.me/nature_reserves">Заповедники</a>
  <a class="active" href="https://ecotourism.glitch.me/animals">Животные</a>
  <a href="https://ecotourism.glitch.me/question">Задать вопрос</a>
</div>
<div class="topnav">
  <a href="https://ecotourism.glitch.me/insectivores">Насекомоядные</a>
  <a href="https://ecotourism.glitch.me/bats">Рукокрылые</a>
  <a href="https://ecotourism.glitch.me/rodents">Грызуны</a>
  <a class="active" href="https://ecotourism.glitch.me/predatory">Хищные</a>
  <a href="https://ecotourism.glitch.me/ungulates">Непарнокопытные</a>
  <a href="https://ecotourism.glitch.me/ruminants">Жвачные</a>
  <a href="https://ecotourism.glitch.me/cetaceans">Китообразные</a>
</div>
<div class="topnav">
  <a href="https://ecotourism.glitch.me/predatory">Псовые</a>
  <a href="https://ecotourism.glitch.me/bearish">Медвежьи</a>
  <a href="https://ecotourism.glitch.me/mustelidae">Куньи</a>
  <a href="https://ecotourism.glitch.me/feline">Кошачьи</a>
  <a href="https://ecotourism.glitch.me/hyena">Гиеновые</a>
  <a class="active" href="https://ecotourism.glitch.me/pinnipeds">Ластоногие</a>
</div>
<div style="float: right;">
    <form class="login_form_5">
        <nav>
            <h1>Ластоногие</h1>
            <ul>
                <li><a href="#section1">Сивуч</a></li>
                <li><a href="#section2">Морж</a></li>
                <li><a href="#section3">Обыкновенный тюлень</a></li>
                <li><a href="#section4">Кольчатая нерпа</a></li>
                <li><a href="#section5">Каспийский тюлень</a></li>
                <li><a href="#section6">Длинномордый тюлень</a></li>
                <li><a href="#section7">Белобрюхий тюлень</a></li>
            </ul>
        </nav>
        <h1></h1>
        <h1 id="section1">Сивуч</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>На Камчатке</li>
            <li>На Командорских островах</li>
            <li>На Курильских островах</li>
            <li>На юге Чукотки</li>
            <li>В Магаданской области</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Сивуч" class="nubex1">Сивуч</a>
        <h1></h1>
        <h1 id="section2">Морж</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>На Чукотском полуострове</li>
            <li>На острове Врангеля</li>
            <li>На море Лаптевых</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Морж" class="nubex1">Морж</a>
        <h1></h1>
        <h1 id="section3">Обыкновенный тюлень</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>На Алтае</li>
            <li>У Кольского полуострова</li>
            <li>В  Архангельской области</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Обыкновенный_тюлень" class="nubex1">Обыкновенный тюлень</a>
        <h1></h1>
        <h1 id="section4">Кольчатая нерпа</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В холодных регионах Балтийского моря</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Кольчатая_нерпа" class="nubex1">Кольчатая нерпа</a>
        <h1></h1>
        <h1 id="section5">Каспийская нерпа</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Волгограде</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Каспийская_нерпа" class="nubex1">Каспийская нерпа</a>
        <h1></h1>
        <h1 id="section6">Длинномордый тюлень</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В прибрежных районах Мурмана</li>
            <li>В Печорском море</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Длинномордый_тюлень" class="nubex1">Длинномордый тюлень</a>
        <h1></h1>
        <h1 id="section7">Белобрюхий тюлень</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Крыму</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Белобрюхий_тюлень" class="nubex1">Белобрюхий тюлень</a>
    </form>
</div>
<img style="float: left;" src="static/img/animals/34.png" />
<img style="float: left;" src="static/img/animals/35.png" />
<img style="float: left;" src="static/img/animals/36.png" />
<img style="float: left;" src="static/img/animals/37.png" />
<img style="float: left;" src="static/img/animals/38.png" />
<img style="float: left;" src="static/img/animals/39.png" />
<img style="float: left;" src="static/img/animals/40.png" />
{% endblock %}