{% extends "base.html" %}

{% block content %}
<div class="topnav">
  <a href="https://ecotourism.glitch.me/">Главная</a>
  <a href="https://ecotourism.glitch.me/nature_reserves">Заповедники</a>
  <a class="active" href="https://ecotourism.glitch.me/animals">Животные</a>
  <a href="https://ecotourism.glitch.me/question">Задать вопрос</a>
</div>
<div class="topnav">
  <a href="https://ecotourism.glitch.me/insectivores">Насекомоядные</a>
  <a href="https://ecotourism.glitch.me/bats">Рукокрылые</a>
  <a class="active" href="https://ecotourism.glitch.me/rodents">Грызуны</a>
  <a href="https://ecotourism.glitch.me/predatory">Хищные</a>
  <a href="https://ecotourism.glitch.me/ungulates">Непарнокопытные</a>
  <a href="https://ecotourism.glitch.me/ruminants">Жвачные</a>
  <a href="https://ecotourism.glitch.me/cetaceans">Китообразные</a>
</div>
<div style="float: right;">
    <form class="login_form_5">
        <nav>
            <h1>Грызуны</h1>
            <ul>
                <li><a href="#section1">Тарбаган</a></li>
                <li><a href="#section2">Черношапочный сурок</a></li>
                <li><a href="#section3">Обыкновенный бобр</a></li>
                <li><a href="#section4">Маньчжурский цокор</a></li>
                <li><a href="#section5">Гигантский слепыш</a></li>
                <li><a href="#section6">Крапчатый суслик</a></li>
                <li><a href="#section7">Индийский дикобраз</a></li>
            </ul>
        </nav>
        <h1></h1>
        <h1 id="section1">Тарбаган</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Сибири</li>
            <li>В Забайкалье</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Тарбаган" class="nubex1">Тарбаган</a>
        <h1></h1>
        <h1 id="section2">Черношапочный сурок</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В горах северо-востока Сибири</li>
            <li>В горах северо-востока Камчатки</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Черношапочный_сурок" class="nubex1">Черношапочный сурок</a>
        <h1></h1>
        <h1 id="section3">Обыкновенный бобр</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Ростовской области</li>
            <li>В Северном Зауралье</li>
            <li>В Новосибирской области</li>
            <li>В Хабаровском крае</li>
            <li>В Курганской области</li>
            <li>В Омской области</li>
            <li>В Томской области</li>
            <li>В Алтайском крае</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Обыкновенный_бобр" class="nubex1">Обыкновенный бобр</a>
        <h1></h1>
        <h1 id="section4">Маньчжурский цокор</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Забайкалье</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Маньчжурский_цокор" class="nubex1">Маньчжурский цокор</a>
        <h1></h1>
        <h1 id="section5">Гигантский слепыш</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Дагестане</li>
            <li>В районах Предкавказья</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Гигантский_слепыш" class="nubex1">Гигантский слепыш</a>
        <h1></h1>
        <h1 id="section6">Крапчатый суслик</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В степях Восточно-Европейской равнины</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Крапчатый_суслик" class="nubex1">Крапчатый суслик</a>
        <h1></h1>
        <h1 id="section7">Индийский дикобраз</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Дагестане</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Индийский_дикобраз" class="nubex1">Индийский дикобраз</a>
    </form>
</div>
<img style="float: left;" src="static/img/animals/11.png" />
<img style="float: left;" src="static/img/animals/12.png" />
<img style="float: left;" src="static/img/animals/13.png" />
<img style="float: left;" src="static/img/animals/14.png" />
<img style="float: left;" src="static/img/animals/15.png" />
<img style="float: left;" src="static/img/animals/16.png" />
<img style="float: left;" src="static/img/animals/17.png" />
{% endblock %}