{% extends "base.html" %}

{% block content %}
<div class="topnav">
  <a href="https://ecotourism.glitch.me/">Главная</a>
  <a href="https://ecotourism.glitch.me/nature_reserves">Заповедники</a>
  <a class="active" href="https://ecotourism.glitch.me/animals">Животные</a>
  <a href="https://ecotourism.glitch.me/question">Задать вопрос</a>
</div>
<form class="login_form_1">
    <h3>Ваш вопрос успешно отправлен администратору.</h3>
    <h1></h1>
    <h3>В течении 7-ми дней ответ придет на указанный адрес электронной почты.</h3>
    </form>
{% endblock %}